@model AnvilGroup.Services.Fit2Work.Models.ResourceUrlModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>[View] | @Model.CultureCode Resource URLs</h2>
<div>   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CultureCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CultureCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-success" })
    @Html.ActionLink("<< Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
