<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fit To Work - Administration</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            @Html.ActionLink("Fit To Work", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item">@Html.ActionLink("Clients", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Users", "Index", "User", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Resources", "Index", "Resources", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Resource Urls", "Index", "ResourceUrls", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Daily Logs", "Index", "Log", new { area = "", date = DateTime.UtcNow, pageNumber = 1, maxPerPage = 25 }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>    
    <div class="container body-content">
        <div id="globalAlert" class="alert alert-dismissible" role="alert" style="display:none;">
            <button type="button" class="close" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p id="globalAlertMessage"></p>
        </div>
        <div class="clearmed"></div>
        @RenderBody()
        <div class="clearmed"></div>
        <hr />
        <footer>
            <div class="copyright">
                &copy; @DateTime.UtcNow.Year <a href="http://www.anvilgroup.com/">The Anvil Group</a> (International) Ltd
                <div class="clear"></div>
                <span class="small">v @Html.Raw(typeof(AnvilGroup.Applications.Fit2Work.MvcApplication).Assembly.GetName().Version)</span>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
</body>
</html>
